.help {
    display: flex;
    flex-direction: column;
}

.help>button {
    align-self: center;
}

.help>p {
    border-radius: 20px;
    color: white;
    padding: 15px;
    margin: 10px;
    text-align: center;
    align-self: normal;
}

p.error {
    background-color: var(--color-error);
}