.help {
    display: flex;
    flex-direction: column;
}

div.submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    margin-right: 5px;
    margin-left: 5px;
}

.help>p {
    border-radius: 20px;
    color: white;
    padding: 15px;
    margin: 10px;
    text-align: center;
    align-self: normal;
}

p.error {
    background-color: var(--color-error);
}